@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

.mapboxgl-map {
  width: 100% !important;
  height: 100% !important;
}

/* CRT HUD EFFECT */
.crt-overlay {
  position: relative;
  overflow: hidden;
  isolation: isolate;
  /* Creates a clean stacking world for the sidebar */
}

/* Scanlines - Background Layer */
.crt-overlay::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.15) 50%);
  z-index: -1;
  background-size: 100% 4px;
  pointer-events: none;
  opacity: 0.3;
}

/* Screen Flicker - Background Layer */
.crt-overlay::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(16, 185, 129, 0.03);
  z-index: -1;
  pointer-events: none;
  animation: crt-flicker 0.15s infinite;
}

@keyframes crt-flicker {
  0% {
    opacity: 0.08;
  }

  50% {
    opacity: 0.12;
  }

  100% {
    opacity: 0.08;
  }
}

/* Custom Emerald Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 10px;
}

.select-none {
  user-select: none;
}